---
---

html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    font-size: 14px;
    position: relative;
    height: 100%;
  }
  
  .main {
    background: white;
  }
  
  nav {
    margin: 10px;
  }
  
  p, li {
    color: #333333;
    font-size: 1.3em;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  p.date {
    margin: 5px 0;
    font-style: italic;
  }
  
  .contact li {
    display: inline-block; 
  }
  
  a:not(.img) {
    color: #000;
    font-weight: bold;
    position: relative;
    text-decoration: none; 
  }
  
  a:not(.img):hover {
    text-decoration: underline;
  }
    
  img {
    margin: 0 auto;
    max-width: 50%;
    display: block; 
  }
  
  hr {
    margin: 50px auto;
    width: 25%;
    border: 0;
    height: 1px;
    border-top: 1px solid #dedede;
  }
  
  nav {
    z-index: 10;
    top: 0;
    width: 100%;
    background: white;
   }
  
  nav ul {
    padding: 0;
  }
  
  nav li {
    font-size: 18px;
    display: inline-block;
    margin: 0 10px;
    padding: 4px 0; 
  }
  
  nav li:first-child {
    margin-left: 0px;
  }
  
  nav li a {
    padding: 0 10px; 
  }
  
  nav li a.active {
    font-weight: bold;
    border-top: 2px solid gray; 
  }
  
  ul {
    list-style: none;
    padding: 0; 
  }
  
  .projects-container {
    margin: 50px 0; 
  }
  
  .contact, .projects h3 {
    text-align: center; 
  }
  
  .award {
    font-style: italic; 
  }
  
  .container.about {
    text-align: center;
    height: 80vh; 
  }
  
  .about-holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(-50%, -50%); 
  }
  
  .text-holder, .project h2 {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .tech {
    font-style: italic; 
  }
  
  .image-holder {
    padding: 45vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50%;
    -webkit-transition: background-color .5s linear;
    -ms-transition: background-color .5s linear;
    transition: background-color .5s linear;
    display: block;
    margin: 75px 0;
  }

  .project:last-child hr {
    display: none; 
  }
  
  .mobile-only {
    display: none;
  }
  
  .desktop-only {
    display: block;
  }
  
  @media all and (max-width: 991px) {
    
    html, body {
      background: white;
    }
    
    nav {
      text-align: center; 
    }
  
    body {
      margin: 20px auto;
    }
  
    h1 {
      margin-top: 70px; 
    }
  
    nav {
      margin: 0; 
    }
  
    .image-holder {
      padding: 150px;
      background-size: cover;
      margin: 25px 0;
    }
      
    img {
      max-width: 100%; 
    }
  
    .image-holder {
      height: 75vh;
    }
  
    .container {

      max-width: 100%; 
    }
    
    .container.about {
      height: auto; 
    }
    
    .container.about .about-holder {
      position: relative;
      top: auto;
      left: auto;
      transform: none; 
    }
    
    .mobile-only {
      display: block;
    }
    
    .desktop-only {
      display: none;
    }
    
    a:not(.img):before {
      height: 0;
    }
    
    .contact li {
      margin-right: 50px;
    }
    
    .contact li:last-child {
      margin-right: 0;
    }
    
    .text-holder, .project h2 {
      margin: 0 20px;
    }
  
  }
  
  @media only screen and (max-width: 991px) and (orientation: landscape) {
    .image-holder {
      padding: 0;
      padding-bottom: 100%;
      background-position-y: 100%;
      height: 45vh;
    }
  }
  
  /*# sourceMappingURL=style.css.map */