<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="iE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Jason French">
  <link href="http://www.jasondoesjournalism.net/favicon.ico" rel="icon" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
  <link href="/assets/css/style.css" rel="stylesheet">
  <title>Jason Lee French</title>
</head>
<body>
<div class="main">
    <div class="">
        {{ content }}            
    </div>
</div>
</body>
</html>